<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Record Sale</title>
  <meta name="description" content="Record Sale">
  <meta name="author" content="mmcwilliams">

  <link rel="stylesheet" href="">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
	yardsale
	<div id="viewer"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js" integrity="sha256-9ytKBXG7+A+edjlxLzfzHGhMleDxCukt+KYzxDCZ/zI=" crossorigin="anonymous"></script>
  <script src="/static/js/app.js"></script>
</body>
</html>