<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Record Sale</title>
  <meta name="description" content="Record Sale">
  <meta name="author" content="mmcwilliams">

  <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAWXaPAF2BoQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAABAAAQAAAAAAEAABAAAAAAAQAAEAAQAAABAAEQABAAAAEAARAAEAAAAQABERERERERAAEBIiIiIiEQAQASIiIiIhEBAAEiIiIiIhEAABEREREREQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB/7wAAf+8AAH/vAAB37gAAd+4AAHfuAAAADgAAgAYAAMACAADgAAAA8AAAAP//AAD//wAA//8AAP//AAD//wAA" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" href="/static/css/app.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div id="viewer"></div>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js" integrity="sha256-9ytKBXG7+A+edjlxLzfzHGhMleDxCukt+KYzxDCZ/zI=" crossorigin="anonymous"></script>-->
  <script src="/static/js/three.min.js" integrity="sha256-9ytKBXG7+A+edjlxLzfzHGhMleDxCukt+KYzxDCZ/zI="></script>
  <script src="/static/js/renderer/Projector.js"></script>
  <script src="/static/js/renderer/CanvasRenderer.js"></script>
  <script src="/static/js/loaders/STLLoader.js"></script>
  <!--<script src="/static/js/hyper3d.min.js"></script>-->
  <script src="/static/js/stats.min.js"></script>
  <script src="/static/js/chance.min.js"></script>
  <!--<script src="/static/js/spin.min.js"></script>-->
  <script src="/static/js/app.js"></script>
</body>
</html>